/* Comment */
h1 {
    color:#fec700;
    margin: auto;
    width: fit-content;
    font-size: 3rem;
    text-shadow: 2.5px 2.5px 2px rgb(147, 112, 44);
}

#green {
    color:green;
    font-size: 2rem;
}

.big-red-text {
    font-size: 2.5rem;
    color:red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    padding: 1em;
    border: 0.3em solid black;
}

.copyright{
    background: rgb(138, 131, 131);
    text-align: center;
    display: block;
    font-size: 1.5rem;
    margin: auto;
    border: 2px solid gold;
}

.list{
    margin: 20px;
}
