* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ipsum {
    color: pink;
}

body {
    margin: auto;
    display: block;
    width: 30%;
    padding: 10px;
    font-family: "Arimo", sans-serif;
    
}

section {
    max-width: 500px;
    border: 4px solid #02343F;
    border-radius: 1rem 1rem 1rem 1rem;
    color: #02343F;
    border-radius: 4px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;
    background-color: #F0EDCC;
}

section:hover {
    border: 3px solid #000000;
    padding: 0.8em;
    background: #02343F;
    color: #F0EDCC;
}

h3 {
    margin-top: -0.3em;
}


footer {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: 1em;
}

h1 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

header,footer {
    text-align: center;
}