


div {
    color: aliceblue;
    font-size: 2rem;
    
}

.banner1 {
    width: 300px;
    height: 300px;
    background: rgb(255, 255, 255);
    border: 0.3em solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    position:relative;
    color: black;
    left: 200px;
    top: 25px;
}

.num1 {
    color: rgb(255, 5, 5);
    top: -35px;
    left: 475px;
    position:relative;
}

.banner2 {
    width: 300px;
    height: 300px;
    background: rgb(255, 255, 255);
    border: 0.3em solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    position:relative;
    color: black;
    left: 200px;
    top: 25px;
}

.num2 {
    color: rgb(255, 5, 5);
    top: -35px;
    left: 475px;
    position:relative;
}
